*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: wheat; */
}

nav{
    height: 13vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-content{
    height: 100%;
    width:23%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 0.8vw; */
}
.logo-img{
    height: 100%;
    width: 100%;
    background-image: url('EQUIP.png');
    background-size: 60% 80%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

#logo-content h4{
    font-family: monument;
    font-size: 2vw;
    text-decoration: underline 0.4vw;
    text-underline-offset: 0.8vh;
    font-weight: bolder;
    letter-spacing:2px;
    text-transform: uppercase;
}

#logo-content span{
    font-size: 2vw;
    font-family: monument;
    color: rgb(116, 111, 111);
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
}


#nav-center{
    display: flex;
    gap: 2.5vw;
    cursor: pointer;
}

#nav-center h4{
    font-family: monospace;
    font-size: 1.3vw;
    font-weight: bolder;
    /* text-transform: uppercase; */
    transition: all ease 0.3s;
}

#nav-center h4:hover{
    text-decoration: underline 0.2vw;
    text-underline-offset: 1vh;
}

#icons{
    /* background-color: rebeccapurple; */
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
#icons input{
    height: 35%;
    padding-left: 2%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid darkgray;
    display: none;
    transition: all 5s ease;
}
#icons h4{
    font-size: 1.5rem;
    cursor: pointer;
}

/* nav to be responsive */
#ham-burger{
    display: none;
}
@media  (max-width:800px) {
    #logo-content h4,span{
        display: none;
    }
    #logo-content{
        width: 15%;
    }
    #nav-center h4{
        font-size: 0.7rem;
    }
}
@media  (max-width:600px) {
    #logo-content{
        width: 20%;
    }
    #nav-center{
        display: none;
    }
    #ham-burger{
        display: block;
        font-size: 1.5rem;
    }
    nav{
        justify-content: space-between;
    }
    #icons{
        padding-right: 5%;
        gap: 1rem;
    }
    
    #icons h4{
        font-size: 1.5rem;
    }
}
@media (max-width:400px) {
    #logo-content{
        width: 25%;
    }
}



#bgimage{
    height: 80%;
    width: 100%;
    position:absolute;
    top: 20%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

#nav-below-content{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    background-color: whitesmoke;
}

#nav-below-content h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.2px;
}

#nav-below-content span{
    color: orangered;
    font-size: 1.9vw;
    font-family: monospace;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -1px;
}


section{
    height: 85%;
    width: 100%;
}


#client{
    height: 20%;
    background-color: #F5F5F5;
}

/* Css of scroll animation starts here */

#scroll{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    /* margin-top: 10vh; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroll::-webkit-scrollbar{
    display: none;
}

.container1{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    /* border: 2px solid black; */
    display: inline-block;
    padding: 2vh 1vw;
    animation-name: anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.container1 img{
    height: 100%;
    width: 8%;    
    border-radius: 50%;
    object-fit: cover;  
    margin: 0 1.5vw;
    object-position: center;
}

@keyframes anime {
        from{
            transform: translate(0);
        }
        to{
            transform: translate(-100%);
        }
    }


/* Css of scoll animation ends here */






/* u-content */
#u-content{
    height: 80%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#d5d8dbc8; */
}

#u-box{
    height: 65%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    /* background-color: lightgrey; */
}


#u-box::-webkit-scrollbar{
    display: none;
}

#u-box::-webkit-scrollbar-thumb{
    background-color: orangered;
}

#top::-webkit-scrollbar{
    /* display: none; */
    /* color: transparent; */
    height: 8px;
}


#u-box img{
    height: 100%;
    width: 30%;
    flex-shrink: 0;
    margin: 0 2vw;
    z-index: 10;
    border-radius: 10px / 30px;
    /* box-shadow:1px 1px 5px 5px purple; */
}

@media (max-width:750px){
    #u-content{
        height: 80%;    
    }
    section{
        height: 50%;
        /* background-color: red; */
    }
}

@media (max-width:550px) {
    #u-box img{
        width: 46%;
    }
}

/* u- content banner ended */






#main-content{
    height: 100%;
    width: 100%;
    /* display: flex; */
    background-color: #fff;
    margin-bottom: 5vh;
}

#main-content #top{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content #top h1{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: monument;
    font-size: 3vw;
    font-weight: 500;
}

#main-content #bottom{
    height: 90%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#page1{
   height: 70vh;
   width: 23%;
   /* background-color: red; */
transform: translateY(10%); 
border-radius: 1vw;
overflow: hidden;
/* background-image: url("https://images.unsplash.com/photo-1543351611-58f69d7c1781?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9vdGJhbGx8ZW58MHx8MHx8fDA%3D"); */
background-size: cover;
border: none;
margin-bottom: 14vh;

}


#register{
    position: relative;
    height: 10vh;
    width: 45%;
    /* background-color: aqua; */
    font-size: .9vw;
    /* border: 3px solid green; */
    position: absolute;
    bottom: 80%;
    left: 27%;
    /* background-color: red; */
}
#register h1{
    padding: 1vw;
    text-decoration: underline;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    /* background-color: red; */
}
/* button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    color: black;
} */
#animate1{
    text-align: center;
    height: 50vh;
    width: 100%;
    /* background-color: blue;  */
    backdrop-filter: blur(3px);
    /* transform: translateY(5%); */
    z-index: 1;
    color: white;
    font-family: monument;
}
#animate2{
    text-align: center;
    height: 50vh;
    width: 100%;
    /* background-color: blue;  */
    backdrop-filter: blur(3px);
    /* transform: translateY(5%); */
    z-index: 1;
    color: white;
    font-family: monument;
}
#animate3{
    text-align: center;
    height: 50vh;
    width: 100%;
    /* background-color: blue;  */
    backdrop-filter: blur(3px);
    /* transform: translateY(5%); */
    z-index: 1;
    color: white;
    font-family: monument;
}
#animate4{
    text-align: center;
    height: 50vh;
    width: 100%;
    /* background-color: blue;  */
    backdrop-filter: blur(3px);
    /* transform: translateY(5%); */
    z-index: 1;
    color: white;
    font-family: monument;
}
img{
    height: 100%;
    width: 100%;
   
    z-index: -1;
}

#page2{
    height: 70vh;
    width: 23%;
    /* background-color: red; */
 transform: translateY(10%);
 border-radius: 1vw;
 overflow: hidden;

 border: none;
 margin-bottom: 14vh;
}

#page3{
    height: 70vh;
    width: 23%;
    /* background-color: red; */
 transform: translateY(10%);
 border-radius: 1vw;
 overflow: hidden;

 border: none;
 margin-bottom: 14vh;
}

#page4{
    height: 70vh;
    width: 23%;
    /* background-color: red; */
 transform: translateY(10%);
 border-radius: 1vw;
 overflow: hidden;
 background-image: url("https://images.unsplash.com/photo-1610723112396-868baffc3843?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dGFibGUlMjBzb2NjZXJ8ZW58MHx8MHx8fDA%3D");
 background-size: cover;
 border: none;
 margin-bottom: 14vh;
}


/* issue portal started */
#issue-item{
    height: 100%;
    width: 100%;
    display: flex;
}
#issue-item-left{
    height: 100%;
    width: 50%;
}
#issue-item-left h1{
    background-color: #A1ACBD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 2.5rem;
}
#issue-item-left form{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:self-start;
    padding-top: 1rem;
    padding-left: 2rem;
}
#issue-item-left form label{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#issue-item-left input,select{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
}
#issue-item-left button{
    font-size: 1.5rem;
    background-color: lightgray;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
}
#issue-item-right{
    height: 100%;
    width: 50%;
}
#issue-item-right img{
    height: 100%;
    width: 100%;
}

@media (max-width:650px) {
    #issue-item-right{
        display: none;
    }
    #issue-item-left{
        height: 100%;
        width: 100%;
    }
}

/* issue portal ended */



/* return items started -- */
#return-items{
    min-height:50%;
    background-color: #b8bec6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#equipmentList{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry-content-style{
    width: 33%;
    /* background-color:rgb(139, 139, 41); */
}
#entryContent div{
    width: 100%;
    display: flex;
    /* background-color: blanchedalmond; */
    margin-bottom: 0.5rem;
}

/* return items ended */



.head-text{
    height: 10%;
    width: 100%;
    font-size: 1rem;
    padding-bottom: 5%;
}
.head-text h1{
    text-align: center;
}
.search-input-icon{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input-icon input{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
.search-input-icon i{
    font-size:1.5rem ;
    padding-left: 5px;
}


/* issue history started */
#issue-history{
    width: 100%;
    min-height: 50%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.remove-btn{
    background-color: red;
    color: white;
    padding: 0.6rem 0.9rem;
    border: 1px solid white;
    border-radius: 10px;
}
.history-item{
    background-color: #f0f0f0;
    width: 100%;
    padding:30px;
}
.delete-all-btn{
    background-color: red;
    color: white;
    padding: 0.6rem 0.9rem;
    border: 1px solid white;
    border-radius: 10px;
}
/* Issue history ended */



#footer{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 7vh;
}

#footer .child h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 3vh;
    text-transform: uppercase;
    color: black;
}

#footer .child h4{
    margin-bottom: 1.6vh;
    color: #A1ACBD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}

#footer .child h4:hover{
    color: orangered;
}



/* footer{
    height: 50vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 5vh;
} */



/* footer #first h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 5vh;
    text-transform: uppercase;
}

footer #first h4{
    margin-bottom: 2vh;
    color: rgb(176, 175, 175);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}

footer #first h4:hover{
    color: orangered;
}


footer #second h2{
    margin-bottom: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
footer #second h4{
    margin-bottom: 2vh;
    color: rgb(176, 175, 175);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}
footer #second h4:hover{
    color: orangered;
}


footer #third h2{
    margin-bottom: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
footer #third h4{
    margin-bottom: 2vh;
    color: rgb(176, 175, 175);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}
footer #third h4:hover{
    color: orangered;
}

footer #fourth h2{
    margin-bottom: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
footer #fourth h4{
    margin-bottom: 2vh;
    color: rgb(176, 175, 175);  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}
footer #fourth h4:hover{
    color: orangered;
} */

/* footer #fourth #input-box{
    height: 5vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #fourth #input-box #one{
    height: 100%;
    width: 90%;
}

#one input{
    font-size: 1.55rem;
}

footer #fourth #input-box #two{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #fourth #input-box #two i{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    transition: all ease 0.3s;
    padding: 0;
    margin: 0;
}

footer #fourth #input-box #two i:hover{
    color: orangered;
} */


footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:white; */
    color: white;
    font-size: 2rem;
}

