*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: wheat; */
}

nav{
    height: 13vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-content{
    height: 100%;
    width:23%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 0.8vw; */
}
.logo-img{
    height: 100%;
    width: 100%;
    background-image: url('EQUIP.png');
    background-size: 60% 80%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

#logo-content h4{
    font-family: monument;
    font-size: 2vw;
    text-decoration: underline 0.4vw;
    text-underline-offset: 0.8vh;
    font-weight: bolder;
    letter-spacing:2px;
    text-transform: uppercase;
}

#logo-content span{
    font-size: 2vw;
    font-family: monument;
    color: rgb(116, 111, 111);
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
}


#nav-center{
    display: flex;
    gap: 2.5vw;
    cursor: pointer;
}

#nav-center h4{
    font-family: monospace;
    font-size: 1.3vw;
    font-weight: bolder;
    /* text-transform: uppercase; */
    transition: all ease 0.3s;
}

#nav-center h4:hover{
    text-decoration: underline 0.2vw;
    text-underline-offset: 1vh;
}

#icons{
    /* background-color: rebeccapurple; */
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
#icons input{
    height: 35%;
    padding-left: 2%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid darkgray;
    display: none;
    transition: all 5s ease;
}
#icons h4{
    font-size: 1.5rem;
    cursor: pointer;
}

/* nav to be responsive */
#ham-burger{
    display: none;
}
@media  (max-width:800px) {
    #logo-content h4,span{
        display: none;
    }
    #logo-content{
        width: 15%;
    }
    #nav-center h4{
        font-size: 0.7rem;
    }
}
@media  (max-width:600px) {
    #logo-content{
        width: 20%;
    }
    #nav-center{
        display: none;
    }
    #ham-burger{
        display: block;
        font-size: 1.5rem;
    }
    nav{
        justify-content: space-between;
    }
    #icons{
        padding-right: 5%;
        gap: 1rem;
    }
    
    #icons h4{
        font-size: 1.5rem;
    }
}
@media (max-width:400px) {
    #logo-content{
        width: 25%;
    }
}



#bgimage{
    height: 80%;
    width: 100%;
    position:absolute;
    top: 20%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

#nav-below-content{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    background-color: whitesmoke;
}

#nav-below-content h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.2px;
}

#nav-below-content span{
    color: orangered;
    font-size: 1.9vw;
    font-family: monospace;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -1px;
}


section{
    height: 90%;
    width: 100%;
}
#client{
    height: 25%;
    background-color:rgb(27, 27, 62);
}



/* content */
#content{
    height: 75%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#content #banner1{
    height: 80%;
    width: 30%;
    /* background-color: red; */
}

#content #banner1 img{
    height: 100%;
    width: 100%;

}
#content #banner2{
    height: 80%;
    width: 30%;
    /* background-color: green; */
}

#content #banner2 img{
    height: 100%;
    width: 100%;
}

#content #banner3{
    height: 80%;
    width: 30%;
    /* background-color: blue; */
}

#content #banner3 img{
    height: 100%;
    width: 100%;
}
/* content banner ended */




#main-content{
    height: 100%;
    width: 100%;
    /* display: flex; */
    background-color: black;
}




/* issue portal started */
#issue-item{
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 5vh;
}

#issue-item #left{
    height: 100%;
    width: 50%;
    background-color:#F5F5F5;
}

#issue-item #top{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#issue-item #top h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

#issue-item #bottom{
    height: 80%;
    width: 100%;
    /* background-color: green; */
    padding: 0 2.2vw;
}

#issue-item #bottom .child{
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
    /* background-color: rebeccapurple; */
    justify-content: space-between;
}

#issue-item #bottom .child input{
    height: 8vh;
    width: 30vw;
    border: none;
    border-radius: 5%;
}

#issue-item #bottom .child label{
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

#issue-item #bottom .child button{
    border: 2px solid darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
}
#issue-item #bottom .child button:hover{
    background-color: rgb(205, 136, 61);
    color: white;
    cursor: pointer;
    border: 2px solid rgb(66, 56, 56);
    border-radius: 10px;
}

#issue-item #right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#issue-item #right img{
    height: 100%;
    width: 100%;
}
#issue-item #bottom .child select{
    height: 8vh;
    width: 15vw;
}

@media (max-width:800px) {
    #issue-item #right{
        display: none;
    }
    #issue-item #left{
        background-color:rgb(198, 198, 198);
        width: 100%;
    }
    #issue-item #bottom .child input{
        margin-right: 40%;
    }
    #issue-item #bottom .child select{
        margin-right: 40%;
    }
    #issue-item #top{
       justify-content: left;
       padding-left: 3%;
    }
}
@media (max-width:650px){
    #issue-item #bottom .child input{
        margin-right: 20%;
        font-size: 0.7rem;
    }
    #issue-item #bottom .child select{
        margin-right: 20%;
    }
}
@media (max-width:480px) {
    #issue-item #bottom .child input{
        font-size: 0.6rem;
        margin-right: 40%;
    }
    #issue-item #bottom .child select{
        margin-right: 40%;
    }

}
@media (max-width:330px) {
    #issue-item #bottom .child input{
        font-size: 0.45rem;
        margin-right: 10%;
    }
    #issue-item #bottom .child select{
        margin-right: 10%;
    }

}
/* issue portal ended */



/* return items started ---vinay */
#return-items{
    height:auto;
    width: 100%;
}


.head-text{
    height: 10%;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    padding: 1.5%;
}
.head-text h1{
    text-align: center;
}
.search-input-icon{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input-icon input{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
.search-input-icon i{
    font-size:1.5rem ;
    padding-left: 5px;
}

.return-container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.return-container-info{
    background-color: rgb(96, 137, 140);
    padding: 4%;
    width: 33%;
    /* background-color: rebeccapurple; */
    line-height: 30px;
    margin: 0.1%;
}

/* return items ended */



/* issue History */
#issue-history{
    height: 100%;
    width: 100%;
    background-color: beige;
}

/* Issue history ended */



#footer{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 7vh;
}

#footer .child h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 3vh;
    text-transform: uppercase;
    color: black;
}

#footer .child h4{
    margin-bottom: 1.6vh;
    color: #A1ACBD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}

#footer .child h4:hover{
    color: orangered;
}



footer{
    height: 50vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 5vh;
}



footer #first h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 5vh;
    text-transform: uppercase;
}

footer #first h4{
    margin-bottom: 2vh;
    color: rgb(176, 175, 175);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}

footer #first h4:hover{
    color: orangered;
}


footer #second h2{
    margin-bottom: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
footer #second h4{
    margin-bottom: 2vh;
    color: rgb(176, 175, 175);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}
footer #second h4:hover{
    color: orangered;
}


footer #third h2{
    margin-bottom: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
footer #third h4{
    margin-bottom: 2vh;
    color: rgb(176, 175, 175);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}
footer #third h4:hover{
    color: orangered;
}

footer #fourth h2{
    margin-bottom: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
footer #fourth h4{
    margin-bottom: 2vh;
    color: rgb(176, 175, 175);  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    transition: all ease 0.3s;
}
footer #fourth h4:hover{
    color: orangered;
}

footer #fourth #input-box{
    /* background-color: red; */
    height: 5vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #fourth #input-box #one{
    height: 100%;
    width: 90%;
}

footer #fourth #input-box #one input{
    height: 100%;
    width: 100%;
}

footer #fourth #input-box #two{
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #fourth #input-box #two i{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    font-size: 2.6vw;
    transition: all ease 0.3s;
}

footer #fourth #input-box #two i:hover{
    color: orangered;
}




