 *{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    color: white;
   
}
#main{
    height: 100%;
    width: 100%;
   background-image: url(bg1.jpeg);
   background-position:center;
   background-size:99% 99%;
   background-repeat: no-repeat;


}
#container{
height: 100%;
width: 100%;
/* background-color: yellow; */
/* backdrop-filter: blur(4px);  */
position: relative;

}
#nav {
    height: 18%;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    position: relative;

}
#nav h5{
    display: none;
}
#navpart1{
    height: 25%;
    width: 60%;
    /* background-color: blue; */
    
}
#navpart1 h1{
    font-family: monument;
    font-size: 3vw;
    font-weight: 500;
    position: relative;
    right: -5%;
    color: #fff;
}

#nav-part2{
    height: 25%;
    width:40% ;
    /* background-color: saddlebrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    
}
#nav-part2 h3{
    font-family: Mona Sans;
    font-size: 1.1vw;
    cursor: pointer;
    color: #fff;
}
#nav-part2 h3:hover{
    text-decoration: underline;
    transition: all ease .2s;
    transform: scale(1.1);

}
#page2{
    height: calc(100% - 22%);
    width: 100%;
     /* background-color: red;  */
     position: relative;
    padding: 1vw 2vw;
 }    
#page-part1{
    height: 100%;
    width: 40%;
    /* background-color: blueviolet; */
  position: relative;
  left: 30%;
  border-radius: 1vw;
  border: 1px solid #fff ;
}
#subpart1{
    height: 15%;
    width: 15%;
    /* background-color: blue; */
    left: 42%;  
    overflow: hidden;
   margin-left: auto;
   margin-right: auto;

}
#subpart1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#part3{
    height: 40%;
    width: 100%;
    /* background-color: seagreen; */
    position: relative;

}
 #part3 .type1{
    height: 3vw;
    width: 65%;
    border-radius: 50px;
    /* background-color: black; */
    border: none;
    border: 2px solid #fff;
    padding: 2vw 3.2vw;
    font-size: 1vw;
    font-family: Mona Sans;
    color: #000;

   
}
#part3 .type2{
    height: 3vw;
    width: 65%;
   
    border-radius: 50px;
    
    border: none;   
    padding: 2vw 3.2vw;
    font-size: 1vw;
  

    border: 2px solid #fff;
    
}
#part3 .type1:hover{
background-color: transparent;
}
#part3 .type2:hover{
    background-color: transparent;
    }
.type1::placeholder{
    color: #000;
    font-weight:700;  
}
.type2::placeholder{
    color: #000;
    font-weight:700;
}
#part3 #input-part1 i{
    position: relative;
    right: -8%;
    font-size: 1.2vw;  
}
i{
    color: #000;
    font-weight: 1000;
    font-size: 1.2rem;
    background-color: transparent;
}
#input-part1{
    height: 48%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
justify-content: center;
    align-items: center;
    margin-top: 2vw;

}
#input-part2{
    height: 48%;
    width: 100%;
    /* background-color: rgb(4, 255, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
}
#part3 #input-part2 i{
    position: relative;
    right: -8%;
    font-size: 1.2vw;
}
#bottom{
    height: 95%;
    width: 100%;

    /* background-color: #fff; */
    /* background-color: black; */
}
#bottom button{
  
    width: 25vw;
    padding: 1.5vw 1.5vw;
    border: none;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2vw;
    /* margin: 2vw 0; */
    font-weight: 500;
    font-family: Mona Sans;
    margin-top: 1vw;
    z-index: 1;

}
button::before{
    content: "";
    position: absolute;
    background-color: #e84949;
    border-radius: 50px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s ease;
  }
  
  button:hover{
    color: #e84949;
    
    
  }
  
  button:hover::before{
    transform: scaleX(1);
  }

#bot1{
    height:20%;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
}
#bot1 h3{
    font-size: 1vw;
    font-family: Mona Sans;
    font-weight: 500;
    cursor: pointer;
}
#bot2{
    height: 22%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vw;
    padding: 0vw 2vw;
}
#bot2 a{
    font-size: 1.5vw;
    text-decoration: none;
    color:#fff;
    font-weight: 500;
    font-family: Mona Sans;
    cursor: pointer;
}
@media (max-width:600px){
    #nav h3{
        display: none;
    }
#nav h5{
    display: initial;
    background-color: #fff;
    
}
#navpart1 h1{
    font-family: monument;
    font-size: 5vw;
    font-weight: 500;
   
    right: -5%;
    color: #fff;
    margin-top: 1vw;
}
#page2{
    height: 70%;
    width: 100%;
     /* background-color: red;  */
     /* position: relative; */
    padding: 2vw 2vw 1vw;
 }  
 #page-part1{
    height:100%;
    width: 100%;
    position: relative;
  
    left: 0%;
    /* background-color: blueviolet; */
    padding: 1vw 5vw;
 
  border-radius: 1vw;
  border: 1px solid #fff ;
}
#part3 .type1{
    height: 10vw;
    width: 75%;
    border-radius: 50px;
    /* background-color: black; */
    border: none;
    border: 2px solid #fff;
    padding: 2vw 3.2vw;
    font-size: 4vw;
    font-family: Mona Sans;
    color: #000;

   
}
#part3 .type1::placeholder{
    padding: 0 4vw;
}
#part3 .type2{
    height: 10vw;
    width: 75%;
   
    border-radius: 50px;
    
    border: none;   
    padding: 2vw 3.2vw;
    font-size: 4vw;
  

    border: 2px solid #fff;
    
}
#part3 .type2::placeholder{
    padding: 0 4vw;
}
#part3 #input-part1 i{
    position: relative;
    right: -8%;
    font-size: 5vw;  
}
#part3 #input-part2 i{
    position: relative;
    right: -8%;
    font-size: 5vw;  
}
#bottom{
    height: 95%;
    width: 100%;

    /* background-color: #fff; */
    /* background-color: black; */
}
#bottom button{
  height: 25%;
    width: 45vw;
    padding: 1.5vw 1.5vw;
    border: none;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vw;
    /* margin: 2vw 0; */
    font-weight: 500;
    font-family: Mona Sans;
    /* margin-top: 1vw; */
    text-decoration: none;
}

#bottom button a{
    text-decoration: none;
    color: white;
}

#bot1{
    height:20%;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
}
#bot1 h3{
    font-size: 4vw;
    font-family: Mona Sans;
    font-weight: 500;
    cursor: pointer;
}
#bot2{
    height: 22%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vw;
    padding: 0vw 2vw;
}
#bot2 a{
    font-size: 4vw;
    text-decoration: none;
    color:#fff;
    font-weight: 500;
    font-family: Mona Sans;
    cursor: pointer;
}


}





