* {
    box-sizing: border-box;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px); /* Optional: adds a slight slide-up effect */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    /* background-color: black; */
    background-image: url("img.jpg");
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.form-container {
    max-width: 400px;
    padding: 20px; 
    height:350px;
    border-radius: 5px;
    /* box-shadow: 0 0 15px 5px rgba(72, 243, 52, 0.5); */
    box-shadow: 0 0 15px 5px rgba(4, 0, 0, 0.5);
    position: relative; 
    background-color:white;
    text-align: center;
    animation: fade-in 1.5s ease-in-out both;
}

h2 {
    margin-bottom: 20px;
    color:black;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:dodgerblue;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:teal;
}

.alert {
    color: red;
    margin-bottom: 10px;
}

.check {
    color: green;
    font-size: 20px;
    margin-left: 5px;
}

p a{
    text-decoration: none;
    color:blue;
}
p a:active{
    color:red;
}
/* p a:visited{
    color:chocolate;
} */
